@page "/counter"
@using IntusWindows.Sales.Order.Web.Services.Hubs;
@using IntusWindows.Sales.Order.Web.Blazor.Components;

@inject IHubService hubService;
<PageTitle>Counter</PageTitle>

<button class="btn btn-primary" @onclick="SendMessage">Send Message</button>
<label>@message got the message!</label>

@code {
    private int currentCount = 0;
        string name { get; set; } = "Bismillah, AllahuAkbar";
        string message { get; set; }
        TestHub testHub { get; set; }
        private void IncrementCount()
        {
            currentCount++;
        }

        protected override async Task OnInitializedAsync()
        {
            testHub = new TestHub("counter");

            // hubService = new BaseHubService("counter");
            await testHub.SubscribeToMessages<string>(HandleMessage, "counter");
        }
        private void HandleMessage(string message)
        {
            Console.WriteLine($"Received message: {message}");
            this.message = message;
        }

        private async Task SendMessage()
        {
            await testHub.SendMessage(name, "counter");
        }
    }


