@page "/window"

<h3>Window</h3>


<IntusWindows.Sales.Order.Web.Blazor.Components.Window.CreateWindowComponent >

</IntusWindows.Sales.Order.Web.Blazor.Components.Window.CreateWindowComponent>
    
@code {
   // IntusWindows.Sales.Order.Web.Blazor.Components.Window.CreateWindowComponent windowc;

    public bool OnCreateWindow { get; set; } = false;

    void ToggleCreateWindow()
    {
        OnCreateWindow = true;
    }
    }

