<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">IntusWindows.Sales.Order.Web.Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dimension">
                <span class="oi oi-list-rich" aria-hidden="true"></span>Dimensions
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="state">
                <span class="oi oi-list-rich" aria-hidden="true"></span> States
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="element">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Elements
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="order">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Order
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="window">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Window
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
