/* Dialog box */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: auto;
    backdrop-filter: blur(20px);
    background-color: rgba(255, 255, 255, 0.6); /* Light gray */
}

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 500px;
    max-width: 90%;
    padding: 1rem;
    background-color: transparent;
    border-radius: 0.3rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-bottom: 1px solid #555; /* Grayish blue */
}

    .modal-header h5 {
        color: black; /* Light gray */
        font-size: 1.5rem;
        margin: 0;
    }

    /*.modal-header button {
        color: #ff7f50;*/ /* Coral */
    /*font-size: 1.5rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        transition: color 0.2s ease-in-out;
    }

        .modal-header button:hover {
            color: #ffa07a;*/ /* Light coral */
    /*}*/

    .modal-header button {
        position: relative;
        color: orangered;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
    }

        .modal-header button::before {
            content: "\2573"; /* unicode for a cross symbol */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2rem;
            line-height: .8;
        }

        .modal-header button:hover::before {
            color: #eee;
        }


.modal-body {
    padding: 1rem;
    background-color: ghostwhite;
    color: black; /* white text color */
}

    .modal-body h4 {
        color: #e6e6e6; /* light gray heading color */
        margin-top: 0;
    }

.modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    color: black;
}

.form-group label {
    float: left;
    margin-right: 10px;
    color: black;
    width: 30%;
}

.form-group input {
    display: block;
    width: 70%;
}

.form-group:after {
    content: "";
    display: table;
    clear: both;
}

.dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 9999;
    -webkit-box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -3px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    background-color: transparent;
}

    .dock ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100%;
        margin: 0;
        padding-left: 3rem;
    }

    .dock li {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: ghostwhite;
    }

    .dock a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        padding: 0 20px;
        text-decoration: none;
    }

    .dock img {
        height: 50px;
        width: 80px;
    }

        .dock img.active {
            border-color: blue;
        }

.notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #dc3545;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    animation: slide-in 0.5s forwards, slide-out 0.5s forwards;
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
    animation-fill-mode: forwards;
}

@keyframes slide-out {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
    animation-fill-mode: forwards;
}

/* Table style */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header style */
thead th {
    font-weight: bold;
    text-align: left;
    padding: 12px 15px;
    border-bottom: 2px solid #ccc;
}

/* Table body style */
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody td {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
}

/* Context menu container style */
.context-menu-container {
    /*    position: absolute;
    z-index: 999;*/
    display: none;
    background-color: white;
    position: absolute;
    width: 7rem;
    /*    top: 0;
    left: 0;
    animation-name: move;
    animation-duration: 2s;*/
}


/* Context menu list style */
.context-menu {
    list-style: none;
    border: 1px solid thin;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    /*    position: absolute;
    background-color: white;
    border: 1px solid black;
   */ width: 15rem;
    z-index: 999;
    /*   border: 1px dashed;
    height: 150px;
    padding: 10px;
    position: relative;
   
    color: gray;
    user-select: none;*/
}
    /* Context menu item style */
    .context-menu li {
        padding: 5px 10px;
        cursor: pointer;
    }

        /* Context menu item hover style */
        .context-menu li:hover {
            background-color: #f2f2f2;
        }

.dropdown {
    position: relative;
    background-color: ghostwhite;
    color: gold;
}

.dropdown-toggle {
    border: none;
    background-color: #f8f9fa;
    color: #212529;
}

    .dropdown-toggle:focus {
        outline: none;
        box-shadow: none;
    }

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-item input[type="checkbox"] {
    margin-right: 0.5rem;
}


.btn-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 0.5rem;
    font-size: 0.8rem;
}
